#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  text-align: "center";
  margin-top: "100px";
}
.time {
  font-size: "48px";
  margin: "20px 0";
}
.buttons {
  display: "flex";
  gap: "12px";
  justify-content: "center";
}
